<!DOCTYPE HTML>
<html lang="fr" prefix="dc: http://purl.org/dc/elements/1.1/">
    <head>
        <title>L'équipe {{ section.name }} de Developpez.com</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="generator" content="DvpTeamBundle" />
        <meta name="robots" content="index, follow" />
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
        <link rel="image_src" href="http://www.developpez.com/facebook-icon.png" />
        <link rel="stylesheet" type="text/css" href="/template/gabarit0.css" />
        <link rel="stylesheet" type="text/css" media="print" href="http://www.developpez.com/template/printer.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="http://www.developpez.com/public/css/index2.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="http://www.developpez.com/template/kit/article.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/dvpteam/index.css') }}" />
    </head>
    <body xml:lang="fr">
        {{ 65|gab_up }}
        {% if section.rightColumn %}
		<table>
			<tr>
				<td valign="top" style="width: 100%; ">
                    <div class="divarticle">
        {% endif %}
        
        <div id="teamPage">
            <div id="container">
                <div id="header">
                    <div id="logo" style="text-align: center">
                        <img src="{{ section.image }}" alt="Logo"/>
                    </div>
                    <br/><br/><br/><br/><br/><br/>
                    {{ section.text|raw }}
                    <p class="presentation" style="text-align:center; padding-top: 1px">
                        {% for category in categories %}
                            {% if category.getMembers(section) %}
                                {% include 'DvpTeamBundle:Default:headerList.html.twig' with {'category': category, 'section': section} only %}
                            {% endif %}
                        {% endfor %}
                    </p>
                </div>
                <div id="membres">
                    <table style="width: 100%;">
                        {% for category in categories %}
                            {% include 'DvpTeamBundle:Default:list.html.twig' with {'category': category, 'section': section} only %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        
        {% if section.rightColumn %}
                    </div>
				</td>
				<td style="width: 300px; " valign="top">
                    {{ section.rightColumn|php_include|convert_encoding('ISO-8859-1', 'UTF-8')|raw }}
				</td>
			</tr>
		</table>
        {% endif %}
        
        {{ 65|gab_down(true) }}
    </body>
</html>