{% for member in category.getMembers(section) %}
    <tr><td>
    <div class="membre" id="membre-{{ member.forumId }}">
	<h2 class="nomPrenom">{{ member.givenName }} {{ member.familyName }}</h2>
	<div class="photo">
        {% if member.photo %}
            <img src="{{ member.photo }}" alt="{{ "photo_of"|trans({'%pseudo%': member.pseudonym}, 'View') }}"/>
        {% else %}
            <img src="http://photos/pardefaut.jpg" alt="{% trans from "View" %}no_photo{% endtrans %}" />
        {% endif %}
        
        {% for certif in member.certifications %}
			<p>
				<img src="{{ certif.imageUrl }}" alt="{{ certif.name }}"/>
			</p>
        {% endfor %}
	</div>
	<div class="profileTable">
		<div class="profil">
			<p class="ligne">
				<span class="legend">{% trans from "View" %}title_pseudo{% endtrans %}</span>
				<span class="ponctuation"> : </span>
				<span class="content">
					<a href="http://www.developpez.net/forums/u{{ member.forumId }}/{{ member.pseudonym }}/" title="{% trans from "View" %}link_seeprofile{% endtrans %}">{{ member.pseudonym }}</a>
				</span>
			</p>
            
            {% if member.roles %}
			<p class="ligne">
				<span class="legend">{{ "title_roles"|transchoice(member.roles|length, {}, 'View') }}</span>
				<span class="ponctuation"> : </span>
                {% set cpt = 0 %}
                {% for role in member.roles %}
                    {% set cpt = cpt + 1 %}
                    <span 
                        {% if cpt == 1 %}
                            class="content"
                        {% else %}
                            class="contentB"
                        {% endif %}
                    >
                        {% if not role.userAddable %}
                            <strong>
                        {% endif %}
                        {{ role.name }}
                        {% if not role.userAddable %}
                            </strong>
                        {% endif %}
                        <br/>
                    </span>
                {% endfor %}
			</p>
            {% endif %}
            
            {% if member.websites %}
			<p class="ligne">
				<span class="legend">{{ "title_websites"|transchoice(member.websites|length, {}, 'View') }}</span>
				<span class="ponctuation"> : </span>
                {% set cpt = 0 %}
                {% for website in member.websites %}
                    {% set cpt = cpt + 1 %}
                    <span 
                        {% if cpt == 1 %}
                            class="content"
                        {% else %}
                            class="contentB"
                        {% endif %}
                    >
                        <a href="{{ website.url }}">{{ website.name }}</a>
                        <br/>
                    </span>
                {% endfor %}
			</p>
            {% endif %}
            
            {% if member.certifications %}
			<p class="ligne">
				<span class="legend">{{ "title_certifications"|transchoice(member.certifications|length, {}, 'View') }}</span>
				<span class="ponctuation"> : </span>
                {% set cpt = 0 %}
                {% for certif in member.certifications %}
                    {% set cpt = cpt + 1 %}
                    <span 
                        {% if cpt == 1 %}
                            class="content"
                        {% else %}
                            class="contentB"
                        {% endif %}
                    >
                        {{ certif.name }}
                        <br/>
                    </span>
                {% endfor %}
			</p>
            {% endif %}
            
			<p class="ligne">
				<span class="content">
					<a href="http://www.developpez.net/forums/private.php?do=newpm&amp;u={{ member.forumId }}">{% trans from "View" %}send_pm{% endtrans %}</a>
				</span>
				{% if member.showEmail %}
				<span class="content">
					<a href="mailto:{{ member.email }}">{% trans from "View" %}send_email{% endtrans %}</a>
				</span>
				{% endif %}
			</p>
		</div>
		<div class="photo">
			<img src="http://www.developpez.net/forums/image.php?u={{ member.forumId }}" alt="{{ "avatar_of"|trans({'%pseudo%': member.pseudonym}, 'View') }}Avatar de {{ member.pseudonym }}" />
		</div>
	</div>
</div>
</td></tr>
{% endfor %}