{% for member in category.getMembers(section) %}
    <tr><td>
    <div class="membre" id="membre-{{ member.forumId }}">
	<h2 class="nomPrenom">{{ member.givenName }} {{ member.familyName }}</h2>
	<div class="photo">
        {% if member.photo %}
            <img src="{{ member.photo }}" alt="Photo de {{ member.pseudonym }}"/>
        {% else %}
            <img src="./photos/pardefaut.jpg" alt="Pas de photo" />
        {% endif %}
        
        {% for certif in member.certifications %}
			<p>
				<img src="{{ certif.imageUrl }}" alt="{{ certif.name }}"/>
			</p>
        {% endfor %}
	</div>
	<div class="profileTable">
		<div class="profil">
			<p class="ligne">
				<span class="legend">Pseudo</span>
				<span class="ponctuation"> : </span>
				<span class="content">
					<a href="http://www.developpez.net/forums/u{{ member.forumId }}/{{ member.pseudonym }}/" title="Voir le profil">{{ member.pseudonym }}</a>
				</span>
			</p>
            
            {% if member.roles %}
			<p class="ligne">
				<span class="legend">Rôle{% if member.roles|length > 1 %}s{% endif %}</span>
				<span class="ponctuation"> : </span>
                {% set cpt = 0 %}
                {% for role in member.roles %}
                    {% set cpt = cpt + 1 %}
                    <span 
                        {% if cpt == 1 %}
                            class="content"
                        {% else %}
                            class="contentB"
                        {% endif %}
                    >
                        {% if not role.userAddable %}
                            <strong>
                        {% endif %}
                        {{ role.name }}
                        {% if not role.userAddable %}
                            </strong>
                        {% endif %}
                    </span>
                {% endfor %}
			</p>
            {% endif %}
            
            {% if member.websites %}
			<p class="ligne">
				<span class="legend">Site{% if member.websites|length > 1 %}s{% endif %} Web</span>
				<span class="ponctuation"> : </span>
                {% set cpt = 0 %}
                {% for website in member.websites %}
                    {% set cpt = cpt + 1 %}
                    <span 
                        {% if cpt == 1 %}
                            class="content"
                        {% else %}
                            class="contentB"
                        {% endif %}
                    >
                        <a href="{{ website.url }}">{{ website.name }}</a>
                    </span>
                {% endfor %}
			</p>
            {% endif %}
            
            {% if member.certifications %}
			<p class="ligne">
				<span class="legend">Certification{% if member.websites|length > 1 %}s{% endif %}</span>
				<span class="ponctuation"> : </span>
                {% set cpt = 0 %}
                {% for certif in member.certifications %}
                    {% set cpt = cpt + 1 %}
                    <span 
                        {% if cpt == 1 %}
                            class="content"
                        {% else %}
                            class="contentB"
                        {% endif %}
                    >
                        {{ certif.name }}
                    </span>
                {% endfor %}
			</p>
            {% endif %}
            
			<p class="ligne">
				<span class="content">
					<a href="http://www.developpez.net/forums/private.php?do=newpm&amp;u={{ member.forumId }}">Envoyer un message privé</a>
				</span>
				{% if member.showEmail %}
				<span class="content">
					<a href="mailto:{{ member.email }}">Envoyer un email</a>
				</span>
				{% endif %}
			</p>
		</div>
		<div class="photo">
			<img src="http://www.developpez.net/forums/image.php?u={{ member.forumId }}" alt="Avatar de {{ member.pseudonym }}" />
		</div>
	</div>
</div>
</td></tr>
{% endfor %}